@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-color: #24292e;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  min-width: 335px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
}

.fa-github {
  font-size: 60px;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.container {
  width: 60%;
  max-width: 960px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}
/* USER SEARCH */
.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid grey;
}

.container header #btn-search {
  width: 200px;
  font-size: 17px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid grey;
}

.container header #btn-search:hover {
  background-color: #24292e;
  color: #ffffff;
  border-color: #ffffff;
}


/* USER INFO */
.container .profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container .profile-data .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.container .profile-data .info img {
  width: 50%;
  border-radius: 50%;
  border: 10px solid #24292e;
}

.container .profile-data .info .data {
  padding: 40px;
  width: 50%;
}

.container .profile-data .info h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.container .profile-data.hide {
  display: none;
}

/* SOCIAL USER */

.container .profile-data .social{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.container .profile-data .social div i {
  font-size: 20px;
}

.container .profile-data .social div {
  margin: 20px 0;
  width: 90%;
}

.container .profile-data .social div a {
  margin: 0 10px;
}

.container .profile-data .social img{
  width: 100%;
}

/* EVENTS USER */

.container .profile-data .events {
  margin-bottom: 10px;
}

.container .profile-data .events h2 {
  font-size: 20px;
  margin: 10px 0;
}

.container .profile-data .events th {
  background-color: #24292e;
  color: #fff;
  border: 0.5px solid gray;
  font-size: 12px;
}

.container .profile-data .events td{
  height: 50px;
  border: 0.5px solid gray;
  font-size: 14px;
  padding: 0 10px;
}

.container .profile-data .events tr:hover{
  background-color: #eeeded;
}

.container .profile-data .events tr:hover td{
  color: darkblue;
}

/* REPOSITORIES */

.container .profile-data .repositories h2 {
  font-size: 20px;
  margin: 10px 0;
}

.container .profile-data .repositories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .profile-data .repositories ul li {
  border: 1px solid grey;
  margin: 15px;
  display: block;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.container .profile-data .repositories ul li a{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container .profile-data .repositories ul li:hover {
  background-color: #222f3b;
  color: #fff;
}

.container .profile-data .repositories ul li:hover span{
  background-color: #fff;
  color: #222f3b;
}

.repositories ul li span{
  display: inline-block;
  background-color: #222f3b;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  color: #FFF;
  transition: 0.3s ease-in-out;
}